# MySQL credentials
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=boxbeacon
MYSQL_USER=boxuser
MYSQL_PASSWORD=boxpass

# MySQL user for running migrations (needs more privileges)
MYSQL_MIGRATION_USER=migrationuser
MYSQL_MIGRATION_PASSWORD=migrationpass

# Host connections
LISTEN_IP=127.0.0.1
LISTEN_DOMAIN=localhost
XDEBUG_PORT=9003

# --- Probably don't edit below this line unless absolutely necessary ---

# Vite configuration
APP_URL=https://${LISTEN_DOMAIN}
VITE_DOMAIN=${LISTEN_DOMAIN}

# User context
UID=${UID:-1000}
GID=${GID:-1000}
