.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
/.idea
/vendor
composer.phar
node_modules/
public/hot
public/service-worker.js
public/build/
.vite/
/app/config/*/*.php
!app/config/docker/*.php
!app/config/migration/*.php
.vscode/*.json
!.vscode/launch.json
.env
.env.*.local
.env.local