.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
/.idea
/vendor
composer.phar
/node_modules
/public/service-worker.js
/public/hot
/public/build/
.vite/
/app/config/*/*.php
!/app/config/docker/*.php
!/app/config/migration/*.php
/.vscode/*
!/.vscode/*.example
.env
.env.*.local
.env.local
docker/caddy/certs/*
!.gitkeep